#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "btop"
     "curl"
     "eza"
     "fd"
     "fzf"
     "gh"
     "git"
     "fish"
     "mise"
     "hugo"
     "gnupg"
     "ripgrep"
     "tmux"
     "neovim"
     "zoxide"
     "ghq"
     "delta"
     "atuin"
     "pinentry-mac"
     "cormacrelf/tap/dark-notify"
     "wget" -}}
{{ $casks := list
     "karabiner-elements"
     "tidal"
     "nikitabobko/tap/aerospace"
     "alt-tab"
     "stats"
     "iina"
     "zed"
     "shottr"
     "raycast"
     "font-blex-mono-nerd-font"
     "ghostty@tip" -}}

{{ if .work -}}
{{   $brews = concat $brews (list
       "k9s"
       "yq"
       "kubectl"
       "kubectx"
       "helm"
       "telnet"
       "mise") -}}
{{   $casks = concat $casks (list
       "bitwarden"
       "tableplus") -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
