[user]
  name = Leonardo Essia
  email = {{ .email }}
  signingkey = {{ .sshkey }}

[core]
  editor = nvim
  pager = delta --dark
  bare = true
  whitespace = trailing-space,space-before-tab
[pager]
  branch = false
  grep = false
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = master
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
  gpgsign = true
[format]
  signOff = true
[gpg]
  format = "ssh"
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[pull]
  rebase = true
[alias]
  a = add
  c = commit
  d = diff
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  p = push
  s = status
  ca = commit --amend
  cm = commit --message

[ghq]
  root = ~/src/

