[user]
	email = leonardof@tutanota.com
	name = Leonardo Ferreira
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	s = status
	p = push
	cm = commit -m
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	hist1 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
[difftool]
	prompt = false
[diff]
	tool = vimdiff
