! #####################
! #       URxvt       #
! #####################
! General settings ============={{{
!
! Nice command to see the description of each command:
! man -pcat urxvt | sed -n '/th: b/,/^b/p'|sed '$d'|sed '/^ \{7\}[a-z]/s/^ */^/g' | sed -e :a -e 'n;s/\n/@@/g;ta;p;d' | sed 's,\^\([^@]\+\)@*[\t ]*\([^\^]\+\),! \2\n! urxvt*\1\n\n,g' | sed 's,@@\(  \+\),\n\1,g' | sed 's,@*$,,g' | sed '/^[^!]/d' | tr -d "'\`"
!
! Links for setting up URxvt: https://www.askapache.com/linux/rxvt-xresources/
!							  http://510x.se/notes/posts/Configuring_and_using_rxvt-unicode/

! Specifies the terminal type name to be set in the TERM environment variable
! To get 256 color you need install rxvt-256color package (rxvt-unicode-256color)
! It's better than screen-256color because in tmux the keys F1~F4 doesn't work (i think thats the default)
! URxvt*termName: rxvt-unicode-256color

! Tint the transparent background with the given colour. Note that a black tint yields a completely black image while a white tint yields the image unchanged.
!URxvt*tintColor:                      color

! Lines of history to save
URxvt.saveLines:        2000

! Disable scrollbar
URxvt*scrollBar: false

! Define font (just change the name and size)
!URxvt.font: xft:Monaco for Powerline:size=8
URxvt.font: xft:curie:size=8
URxvt.boldFont: xft:tewi:bold:size=8:

!URxvt*font: xft:DejaVu Sans Mono for Powerline:size=12,xft:SimHei:size=12
!URxvt.font:xft:Inconsolata\ for\ Powerline:size=13:style=dz:antialias=true,xft:SimHei:size=13
!URxvt*font: xft:Droid Sans Mono for Powerline:size=12

!! Tamsyn
!URxvt*font:				-misc-tamsyn-medium-r-normal--17-120-100-100-c-0-iso8859-1
!URxvt*boldFont:			-misc-tamsyn-bold-r-normal--17-120-100-100-c-0-iso8859-1

!! EnvyPN
!URxvt*font:				-ypn-envypn-medium-*-normal--15-150-75-75-c-90-iso8859-1
!Xterm*font:				-ypn-envypn-medium-*-normal--15-150-75-75-c-90-iso8859-1

!! Envy Code R
!URxvt*font:				xft:envy code r for powerline:regular:pixelsize=16
!URxvt*italicFont:		xft:envy code r:italic:pixelsize=16
!URxvt*boldFont:			xft:envy code r:bold:pixelsize=16
!URxvt*boldItalicFont:	xft:envy code r:bold:italic:pixelsize=16
!
!! Ubuntu Mono
!URxvt*font:				xft:ubuntu mono derivative powerline:regular:pixelsize=16
!URxvt*imFont: 			xft:ubuntu mono derivative powerline:regular:pixelsize=16
!URxvt*boldFont: 		xft:ubuntu mono derivative powerline:bold:pixelsize=16
!URxvt*italicFont: 		xft:ubuntu mono derivative powerline:italic:pixelsize=16
!URxvt*boldItalicFont: 	xft:ubuntu mono derivative powerline:bold:italic:pixelsize=16
!URxvt*letterSpace: 		-1
!

! Define space between letters
URxvt.letterSpace:      0

! Attempt to find a visual with the given bit depth
URxvt.depth:                32

! Create the window with the specified X window geometry [default 80x24]
!URxvt.geometry:             204x84
URxvt.geometry:             80x15

! True: start as a login shell by prepending a - to argv[0] of the shell; option -ls.  False: start as a normal sub-shell [default];
URxvt.loginShell:           true

! Specifies number of lines (pixel height) to insert between each row of the disp1ay [default 0]
URxvt.lineSpace:            0

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:         False
URxvt.iso14755_52: false

! Set window title string, the default title is the command-line specified after the -e option, if any, otherwise the application name
URxvt*title:                          URxvt

! Set the icon image to the icon window
URxvt.iconFile: /home/valeyard/.icons/terminal.svg

! Keys settings
URxvt.keysym.C-0: command:\033[3;0;116t
!URxvt.keysym.C-minus: command:\033[3;483;116t
!URxvt.keysym.C-equal: command:\033[3;965;116t

! Enable Home and End keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Gruvbox dark colorscheme
URxvt.keysym.C-7: command:\033]11;#282828\007\033]10;#a89984\007

! Gruvbox light colorscheme
URxvt.keysym.C-8: command:\033]11;#fbf1c7\007\033]10;#7c6f64\007

! }}}
! Border ======================={{{
! Set MWM hints to request a borderless window, i.e. if honoured by the WM, the rxvt-unicode window will not have window decorations
!urxvt.borderless: true
urxvt.borderless: false
URxvt.borderColor: #282828

! External border of number pixels. This resource is limited to 100
URxvt*externalBorder:                 1

! Internal border of number pixels. This resource is limited to 100
URxvt.internalBorder:       8
! }}}
! Colors ======================={{{

!! URxvt Gruvbox theme

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! }}}
! Perl scripts ================={{{
! Define perls scripts to use
! 1. Matcher: click on links
! 2. Resize-font: a.k.a. zoom
! 3. Url-select: seek urls in the screen
! 4. Keyboard-select: enter in vim mode to do things (yank, select, etc)
! 5. Clipboard: make easier copy and paste(With Contrl-Shift-C and Control-Shift-V (My keybindings))
!URxvt.bell-command: notify-send "Beep, Beep"
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select,clipboard,bell-command

! Path where the perl scripts are
URxvt.perl-lib: ~/.urxvt/ext/

! Keybinding for url-select and keyboard-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Keybind for clipboard perl script
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! Keybind for resize-font
URxvt.resize-font.smaller:	C-Shift-Down
URxvt.resize-font.bigger:	C-Shift-Up

! Make links clickable
URxvt.urlButton: 1
urxvt.matcher.button: C1
URxvt.underlineURLs: True
URxvt.url-select.launcher:  chromium &
URxvt.urlLauncher: chromium &

! }}}

! #####################
! #       Rofi        #
! #####################
! General settings ============={{{
! FF00FF  means that i dont know which place has that color
rofi.color-enabled:	true
rofi.color-window:	#282828, #FF00FF, #d65d0e
rofi.color-normal:	#282828, #689d6a, #3c3836, #458588, #ebdbb2
rofi.color-active:	#d65d03, #ebdbb2, #FF00FF, #d65d03, #282828
rofi.color-urgent:	#FF00FF, #FF00FF, #FF00FF, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		10
rofi.bw:		0
! I doesnt have compton
!rofi.opacity:		0
rofi.hide-scrollbar:	true
rofi.width:		100
rofi.padding:	350

! }}}
!
! #####################
! #         st        #
! #####################
! General settings ================{{{
! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
st.termname:          xterm-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:        /bin/mksh

! The following options options can be reloaded via USR1 signal.
st.font:              curie:size=15
st.borderpx:          10
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       2
! thickness of underline and bar cursors
st.cursorthickness:   2
! 0: normal blinking, 1: leave cursor border and blink with cursors background
st.cursorblinkstyle:  0
! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1
st.bold_font:         0
st.xfps:              120
st.actionfps:         30
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        100
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:       $

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity:      255
! Defaults taken from base16-twilight colorscheme.
st.foreground:   #ebdbb2
st.background:   #282828
st.color0:       #282828
st.color1:       #cc241d
st.color2:       #98971a
st.color3:       #d79921
st.color4:       #458588
st.color5:       #b16286
st.color6:       #689d6a
st.color7:       #a89984
st.color8:       #928374
st.color9:       #fb4934
st.color10:      #b8bb26
st.color11:      #fabd2f
st.color12:      #83a598
st.color13:      #d3869b
st.color14:      #8ec07c
st.color15:      #ebdbb2
st.color16:
st.color17:
st.color18:
st.color19:
st.color20:
st.color21:

! }}}
