! #####################
! #         st        #
! #####################
! General settings ================{{{
! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
st.termname:          xterm-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:            /bin/mksh

! The following options options can be reloaded via USR1 signal.
st.font:              Monaco:size=10
st.italicFont:        Monaco:italic:size=10
st.borderpx:          35
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       2
! thickness of underline and bar cursors
st.cursorthickness:   2
! 0: normal blinking, 1: leave cursor border and blink with cursors background
st.cursorblinkstyle:  0
! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1
st.bold_font:         0
st.xfps:              120
st.actionfps:         30
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        0
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:       $
! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity:      255

! Theme: mine
! Verde mais escuro
#define base00 #002b36

! Verde escuro
#define base01 #073642

! Cinza escuro
#define base02 #586e75
#define base03 #657b83

! Cinza um pouco claro
#define base04 #839496
#define base05 #93a1a1

! #ebdbb2 do Gruvbox
#define base06 #eee8d5
#define base07 #fdf6e3

! Vermelho brilhante
#define base08 #dc322f

! Vermelho
#define base09 #cb4b16

! Verde agua
#define base0A #5F8972

! Verde
#define base0B #859900

! Verde mar
#define base0C #2aa198
! Light blue
#define base0D #268bd2

! Roxo
#define base0E #6c71c4

! Pink
#define base0F #d33682

*.foreground:   #A9C4C6
*.background:   #101e22
*.cursorColor:  #A9C4C6

*.color0:       #101e22
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base03
*.color8:       base00
*.color9:       base09
*.color10:      base0A
*.color11:      base02
*.color12:      base04
*.color13:      #A9C4C6
*.color14:      base0F
*.color15:      base07

! }}}
