bc
clang
curl
dejavu-fonts-ttf
dunst
fzf
git
hsetroot
jq
lemonbar
less
make
mesa-ati-dri
mksh
mpv
ncurses
neomutt
newsboat
pandoc
polybar
ranger
scrot
surfraw
sxiv
tar
tmux
transmission-common transmission-daemon transmission-remote-cli
unzip
urlview
vim-x11
weechat
wget
xauth
xclip
xclip
xf86-input-libinput
xfontsel
xinit
xmodmap
xprop
xrdb
xrdb
xset
xset
xst
xz
youtube-dl
zathura
xauth
xf86-input-libinput
xinit
xorg-server
libXfont2
wmctrl
