bc
curl
dejavu-fonts-ttf
dunst
git
less
make
mesa-ati-dri
mksh
mpv
neomutt
pandoc
ranger
scrot
sxiv
tar
tmux
transmission-common transmission-daemon transmission-remote-cli
unzip
urlview
vim-x11
weechat
weechat-perl
weechat-python
wget
xauth
xclip
xf86-input-libinput
xfontsel
xmodmap
xprop
xrdb
xset
xst
youtube-dl
zathura
xinit
xorg-server
libXfont2
ImageMagick
redshift
sxhkd
dbus
bspwm
alsa-utils
lemonbar
xdo
i3lock
xsetroot
maim
kpcli
ffmpeg
zathura-pdf-mupdf
