
# aliases I use everytime

# ----
alias dotfiles "/usr/bin/git --git-dir="$HOME/.dotfiles/" --work-tree="$HOME""
alias cat "bat --theme Dracula"
alias t tmux
alias g git
alias k kubectl
alias e $EDITOR
alias ls "eza --icons"
alias .. "cd .."
alias ... "cd ../.."
alias .... "cd ../../.."
alias cdg "cd $HOME/src/gitlab.globoi.com/"

# ----
# upload files
function ix
  curl -sF f:1='<-' ix.io < "$argv"
end

# iotek - txt file upload
function io
  curl -sT- https://p.iotek.org < "$argv"
end

### uguu - txt/images upload only for 24 hours
function uguu
  for i in "$argv"
    curl -sS -F files[]=@"$i" "https://uguu.se/upload.php" | jq .files[0].url
  end
end

# ----
# useful stuff

# Show the most used commands
function top10
  history | awk '{a[$1]++ } END{for(i in a){print a[i] " " i}}' | sort -rn | head
end
