[Desktop Entry]
Type=Application
Name=Vim
Comment=Edit text files
Icon=vim
Terminal=true
Exec=st -e /usr/bin/vim %f
Categories=Utility;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-tex;text/x-shellscript;text/x-c;text/x-c++;text/x-matlab;application/x-shellscript;

